.container {
  min-width: 280px;
}

.containerInfos {
  margin: 0 auto;
  padding: 10px 15px 15px;

  display: flex;
  flex-direction: column;
  justify-content: center;
}

.image {
  border-radius: 16px;
}

.containerTitle {
  display: flex;
  align-items: center;
}

.name {
  margin-right: 10px;
}

.verified,
.notVerified {
  padding: 0 5px;

  font-size: 0.7rem;

  border: 2px solid;
  border-radius: 20px;
}

.verified {
  color: var(--green);
}

.notVerified {
  color: var(--red);
}

.description {
  margin: 5px 0 10px;

  color: var(--gray);
}

.containerSocial {
  font-size: 0.9rem;

  display: flex;
  flex-direction: column;
}

.social {
  display: flex;
  align-items: center;
}

.icon {
  margin-right: 2px;

  font-size: 1.2rem;
}

.containerSection {
  width: fit-content;

  margin: 0 auto;
}

.sectionContent {
  display: flex;
  align-items: center;
}

.sectionBar {
  width: 110%;
  height: 3px;

  background-color: var(--blue);
  border: none;

  transform: translate(-5%, 2px);
}

.sectionBoxArrow {
  margin-left: 5px;

  border-top: 5px solid transparent;
  border-bottom: 5px solid transparent;
  border-right: 5px solid var(--black);
}

.sectionBox {
  padding: 1px 3px;

  font-size: 0.8rem;
  color: var(--white);

  background-color: var(--black);

  border-radius: 5px;
}

.dividerBar {
  height: 1px;

  background-color: var(--gray);
  border: none;
}

@media only screen and (min-width: 375px) {
  .containerInfos {
    flex-direction: row;
  }

  .containerContent {
    max-width: calc(375px - 30px - 10px - 100px);

    margin-left: 10px;
  }
}

@media only screen and (min-width: 425px) {
  .containerContent {
    max-width: calc(425px - 30px - 10px - 100px);
  }
}

@media only screen and (min-width: 768px) {
  .containerContent {
    max-width: calc(768px - 30px - 10px - 100px);
  }
}

@media only screen and (min-width: 1024px) {
  .containerContent {
    max-width: 1440px;
  }

  .containerSocial {
    flex-direction: row;
  }

  .social + .social {
    margin-left: 10px;
  }
}
