.container {
  max-width: 500px;

  margin: 0 auto;
  padding: 10px 15px 15px;
}

.title {
  text-align: center;

  margin-bottom: 10px;
}

.subtitle {
  text-align: center;

  color: var(--gray);

  margin-bottom: 20px;
}

.inputContainer {
  margin-bottom: 20px;

  display: flex;
  justify-content: center;
}

.input {
  padding: 0 16px;

  width: 100%;
  height: 40px;

  border: none;
  border-radius: 15px 0 0 15px;

  box-shadow: 0px 5px 5px rgba(0, 0, 0, 0.25);
}

.button {
  padding: 0 16px;

  background-color: var(--blue);
  color: var(--white);

  border: none;
  border-radius: 0 15px 15px 0;

  box-shadow: 0px 5px 5px rgba(0, 0, 0, 0.25);
}

.button:active {
  background-color: var(--dark-blue);
}

.containerImage {
  max-width: 290px;

  margin: 0 auto;
}

@media only screen and (min-height: 720px) {
  .container {
    height: calc(100vh - 80px);

    display: flex;
    flex-direction: column;
    justify-content: center;
  }
}

@media only screen and (min-width: 768px) {
  .title {
    font-size: 2.5rem;
  }
}

@media only screen and (min-width: 1024px) {
  .container {
    max-width: 1440px;
    height: calc(100vh - 100px);

    flex-direction: row;
    align-items: center;
  }

  .containerContent {
    max-width: 45%;
  }

  .title {
    font-size: 3rem;

    text-align: start;
  }

  .subtitle {
    text-align: start;
  }

  .input {
    height: 50px;

    font-size: 1rem;
  }

  .button {
    padding: 0 25px;

    font-size: 1rem;
  }

  .containerImage {
    max-width: 45%;
    width: 400px;
    margin: 0 0 0 20px;
  }
}

@media only screen and (min-width: 1440px) {
  .container {
    height: calc(100vh - 200px);
  }
}
