.header {
  height: 80px;

  background: linear-gradient(
    180deg,
    rgba(0, 0, 0, 0.7) 0%,
    rgba(196, 196, 196, 0) 100%
  );

  display: flex;
  align-items: center;
}

.container {
  max-width: 1440px;
  margin: 0 auto;

  user-select: none;
}

.logo {
  display: flex;
  align-items: center;

  cursor: pointer;
}

.title {
  margin-left: 10px;

  font-size: 1.6rem;
  font-weight: 800;
}

.image {
  width: 50px;
  height: 50px;
}
